


/* --- Icon Helpers --- */


/* If an icon points right, rotate it to point down */

.#{$pre}icon-rotate-90 {
    -ms-transform: rotate(90deg); ///* IE 9 */
    -webkit-transform: rotate(90deg); ///* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* If an icon points right, rotate it to point left */

.#{$pre}icon-rotate-180 {
    -ms-transform: rotate(180deg); ///* IE 9 */
    -webkit-transform: rotate(180deg); ///* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/* If an icon points right, rotate it to point up */

.#{$pre}icon-rotate-270 {
    -ms-transform: rotate(270deg); ///* IE 9 */
    -webkit-transform: rotate(270deg); ///* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
