


/* --- Multi-weight Icons --- */


/* evo-icon-arrow */


$arrow_thin:        url(../img/icons/thin/arrow-thin.svg);
$arrow_light:       url(../img/icons/light/arrow-light.svg);
$arrow_book:        url(../img/icons/book/arrow-book.svg);
$arrow_bold:        url(../img/icons/bold/arrow-bold.svg);
$arrow_black:       url(../img/icons/black/arrow-black.svg);
$arrow_ultra:       url(../img/icons/ultra/arrow-ultra.svg);


.#{$pre}icon-arrow-left-thin              { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_thin; }
.#{$pre}icon-arrow-left-light             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_light; }
.#{$pre}icon-arrow-left,
.#{$pre}icon-arrow-left-book              { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_book;  }
.#{$pre}icon-arrow-left-bold              { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_bold;  }
.#{$pre}icon-arrow-left-black             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_black;  }
.#{$pre}icon-arrow-left-ultra             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_ultra;  }

.#{$pre}icon-arrow-up-thin                { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_thin; }
.#{$pre}icon-arrow-up-light               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_light; }
.#{$pre}icon-arrow-up,
.#{$pre}icon-arrow-up-book                { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_book; }
.#{$pre}icon-arrow-up-bold                { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_bold; }
.#{$pre}icon-arrow-up-black               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_black; }
.#{$pre}icon-arrow-up-ultra               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_ultra; }

.#{$pre}icon-arrow-right-thin             { @extend .#{$pre}icon-base; background-image: $arrow_thin; }
.#{$pre}icon-arrow-right-light            { @extend .#{$pre}icon-base; background-image: $arrow_light; }
.#{$pre}icon-arrow,
.#{$pre}icon-arrow-right,
.#{$pre}icon-arrow-right-book             { @extend .#{$pre}icon-base; background-image: $arrow_book; }
.#{$pre}icon-arrow-right-bold             { @extend .#{$pre}icon-base; background-image: $arrow_bold; }
.#{$pre}icon-arrow-right-black            { @extend .#{$pre}icon-base; background-image: $arrow_black; }
.#{$pre}icon-arrow-right-ultra            { @extend .#{$pre}icon-base; background-image: $arrow_ultra; }

.#{$pre}icon-arrow-down-thin              { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_thin; }
.#{$pre}icon-arrow-down-light             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_light; }
.#{$pre}icon-arrow-down,
.#{$pre}icon-arrow-down-book              { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_book; }
.#{$pre}icon-arrow-down-bold              { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_bold; }
.#{$pre}icon-arrow-down-black             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_black; }
.#{$pre}icon-arrow-down-ultra             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_ultra; }



/* evo-icon-arrow-corner */



$arrow_corner_thin:     url(../img/icons/thin/arrow-corner-thin.svg);
$arrow_corner_light:    url(../img/icons/light/arrow-corner-light.svg);
$arrow_corner_book:     url(../img/icons/book/arrow-corner-book.svg);
$arrow_corner_bold:     url(../img/icons/bold/arrow-corner-bold.svg);
$arrow_corner_black:    url(../img/icons/black/arrow-corner-black.svg);
$arrow_corner_ultra:    url(../img/icons/ultra/arrow-corner-ultra.svg);


.#{$pre}icon-arrow-corner-down-left-thin   { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_thin; }
.#{$pre}icon-arrow-corner-down-left-light  { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_light; }
.#{$pre}icon-arrow-corner-down-left,
.#{$pre}icon-arrow-corner-down-left-book   { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_book; }
.#{$pre}icon-arrow-corner-down-left-bold   { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_bold; }
.#{$pre}icon-arrow-corner-down-left-black  { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_black; }
.#{$pre}icon-arrow-corner-down-left-ultra  { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $arrow_corner_ultra; }

.#{$pre}icon-arrow-corner-up-left-thin     { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base;  background-image: $arrow_corner_thin; }
.#{$pre}icon-arrow-corner-up-left-light    { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base;  background-image: $arrow_corner_light; }
.#{$pre}icon-arrow-corner,
.#{$pre}icon-arrow-corner-up-left,
.#{$pre}icon-arrow-corner-up-left-book     { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_corner_book; }
.#{$pre}icon-arrow-corner-up-left-bold     { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_corner_bold; }
.#{$pre}icon-arrow-corner-up-left-black    { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_corner_black; }
.#{$pre}icon-arrow-corner-up-left-ultra    { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $arrow_corner_ultra; }

.#{$pre}icon-arrow-corner-up-right-thin    { @extend .#{$pre}icon-base; background-image: $arrow_corner_thin; }
.#{$pre}icon-arrow-corner-up-right-light   { @extend .#{$pre}icon-base; background-image: $arrow_corner_light; }
.#{$pre}icon-arrow-corner-up-right,
.#{$pre}icon-arrow-corner-up-right-book    { @extend .#{$pre}icon-base; background-image: $arrow_corner_book; }
.#{$pre}icon-arrow-corner-up-right-bold    { @extend .#{$pre}icon-base; background-image: $arrow_corner_bold; }
.#{$pre}icon-arrow-corner-up-right-black   { @extend .#{$pre}icon-base; background-image: $arrow_corner_black; }
.#{$pre}icon-arrow-corner-up-right-ultra   { @extend .#{$pre}icon-base; background-image: $arrow_corner_ultra; }

.#{$pre}icon-arrow-corner-down-right-thin  { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_thin; }
.#{$pre}icon-arrow-corner-down-right-light { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_light; }
.#{$pre}icon-arrow-corner-down-right,
.#{$pre}icon-arrow-corner-down-right-book  { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_book; }
.#{$pre}icon-arrow-corner-down-right-bold  { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_bold; }
.#{$pre}icon-arrow-corner-down-right-black { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_black; }
.#{$pre}icon-arrow-corner-down-right-ultra { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $arrow_corner_ultra; }



/* evo-icon-circle-chevron */


$circle_chevron_thin:      url(../img/icons/thin/circle-chevron-thin.svg);
$circle_chevron_light:     url(../img/icons/light/circle-chevron-light.svg);
$circle_chevron_book:      url(../img/icons/book/circle-chevron-book.svg);
$circle_chevron_bold:      url(../img/icons/bold/circle-chevron-bold.svg);
$circle_chevron_black:     url(../img/icons/black/circle-chevron-black.svg);
$circle_chevron_ultra:     url(../img/icons/ultra/circle-chevron-ultra.svg);


.#{$pre}icon-circle-chevron-left-thin     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_thin; }
.#{$pre}icon-circle-chevron-left-light    { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_light; }
.#{$pre}icon-circle-chevron-left,
.#{$pre}icon-circle-chevron-left-book     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_book; }
.#{$pre}icon-circle-chevron-left-bold     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_bold; }
.#{$pre}icon-circle-chevron-left-black    { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_black; }
.#{$pre}icon-circle-chevron-left-ultra    { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_ultra; }

.#{$pre}icon-circle-chevron-up-thin       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_thin; }
.#{$pre}icon-circle-chevron-up-light      { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_light; }
.#{$pre}icon-circle-chevron-up,
.#{$pre}icon-circle-chevron-up-book       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_book; }
.#{$pre}icon-circle-chevron-up-bold       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_bold; }
.#{$pre}icon-circle-chevron-up-black      { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_black; }
.#{$pre}icon-circle-chevron-up-ultra      { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_ultra; }

.#{$pre}icon-circle-chevron-right-thin    { @extend .#{$pre}icon-base; background-image: $circle_chevron_thin; }
.#{$pre}icon-circle-chevron-right-light   { @extend .#{$pre}icon-base; background-image: $circle_chevron_light; }
.#{$pre}icon-circle-chevron,
.#{$pre}icon-circle-chevron-right,
.#{$pre}icon-circle-chevron-right-book    { @extend .#{$pre}icon-base; background-image: $circle_chevron_book; }
.#{$pre}icon-circle-chevron-right-bold    { @extend .#{$pre}icon-base; background-image: $circle_chevron_bold; }
.#{$pre}icon-circle-chevron-right-black   { @extend .#{$pre}icon-base; background-image: $circle_chevron_black; }
.#{$pre}icon-circle-chevron-right-ultra   { @extend .#{$pre}icon-base; background-image: $circle_chevron_ultra; }

.#{$pre}icon-circle-chevron-down-thin     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_thin; }
.#{$pre}icon-circle-chevron-down-light    { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_light; }
.#{$pre}icon-circle-chevron-down,
.#{$pre}icon-circle-chevron-down-book     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_book; }
.#{$pre}icon-circle-chevron-down-bold     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_bold; }
.#{$pre}icon-circle-chevron-down-black    { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_black; }
.#{$pre}icon-circle-chevron-down-ultra    { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_ultra; }



/* evo-icon-chevron */


$chevron_thin:          url(../img/icons/thin/chevron-thin.svg);
$chevron_light:         url(../img/icons/light/chevron-light.svg);
$chevron_book:          url(../img/icons/book/chevron-book.svg);
$chevron_bold:          url(../img/icons/bold/chevron-bold.svg);
$chevron_black:         url(../img/icons/black/chevron-black.svg);
$chevron_ultra:         url(../img/icons/ultra/chevron-ultra.svg);


.#{$pre}icon-chevron-left-thin             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_thin; }
.#{$pre}icon-chevron-left-light            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_light; }
.#{$pre}icon-chevron-left,
.#{$pre}icon-chevron-left-book             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_book; }
.#{$pre}icon-chevron-left-bold             { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_bold; }
.#{$pre}icon-chevron-left-black            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_black; }
.#{$pre}icon-chevron-left-ultra            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $chevron_ultra; }

.#{$pre}icon-chevron-up-thin               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_thin; }
.#{$pre}icon-chevron-up-light              { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_light; }
.#{$pre}icon-chevron-up,
.#{$pre}icon-chevron-up-book               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_book; }
.#{$pre}icon-chevron-up-bold               { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_bold; }
.#{$pre}icon-chevron-up-black              { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_black; }
.#{$pre}icon-chevron-up-ultra              { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $chevron_ultra; }

.#{$pre}icon-chevron-right-thin            { @extend .#{$pre}icon-base; background-image: $chevron_thin; }
.#{$pre}icon-chevron-right-light           { @extend .#{$pre}icon-base; background-image: $chevron_light; }
.#{$pre}icon-chevron,
.#{$pre}icon-chevron-right,
.#{$pre}icon-chevron-right-book            { @extend .#{$pre}icon-base; background-image: $chevron_book; }
.#{$pre}icon-chevron-right-bold            { @extend .#{$pre}icon-base; background-image: $chevron_bold; }
.#{$pre}icon-chevron-right-black           { @extend .#{$pre}icon-base; background-image: $chevron_black; }
.#{$pre}icon-chevron-right-ultra           { @extend .#{$pre}icon-base; background-image: $chevron_ultra; }

.#{$pre}icon-chevron-down-thin             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_thin; }
.#{$pre}icon-chevron-down-light            { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_light; }
.#{$pre}icon-chevron-down,
.#{$pre}icon-chevron-down-book             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_book; }
.#{$pre}icon-chevron-down-bold             { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_bold; }
.#{$pre}icon-chevron-down-black            { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_black; }
.#{$pre}icon-chevron-down-ultra            { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $chevron_ultra; }



/* evo-icon-double-chevron */


$double_chevron_thin:      url(../img/icons/thin/double-chevron-thin.svg);
$double_chevron_light:     url(../img/icons/light/double-chevron-light.svg);
$double_chevron_book:      url(../img/icons/book/double-chevron-book.svg);
$double_chevron_bold:      url(../img/icons/bold/double-chevron-bold.svg);
$double_chevron_black:     url(../img/icons/black/double-chevron-black.svg);
$double_chevron_ultra:     url(../img/icons/ultra/double-chevron-ultra.svg);


.#{$pre}icon-double-chevron-left-thin      { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_thin; }
.#{$pre}icon-double-chevron-left-light     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_light; }
.#{$pre}icon-double-chevron-left,
.#{$pre}icon-double-chevron-left-book      { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_book; }
.#{$pre}icon-double-chevron-left-bold      { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_bold; }
.#{$pre}icon-double-chevron-left-black     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_black; }
.#{$pre}icon-double-chevron-left-ultra     { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $double_chevron_ultra; }

.#{$pre}icon-double-chevron-up-thin        { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_thin; }
.#{$pre}icon-double-chevron-up-light       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_light; }
.#{$pre}icon-double-chevron-up,
.#{$pre}icon-double-chevron-up-book        { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_book; }
.#{$pre}icon-double-chevron-up-bold        { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_bold; }
.#{$pre}icon-double-chevron-up-black       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_black; }
.#{$pre}icon-double-chevron-up-ultra       { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $double_chevron_ultra; }

.#{$pre}icon-double-chevron-right-thin     { @extend .#{$pre}icon-base; background-image: $double_chevron_thin; }
.#{$pre}icon-double-chevron-right-light    { @extend .#{$pre}icon-base; background-image: $double_chevron_light; }
.#{$pre}icon-double-chevron,
.#{$pre}icon-double-chevron-right,
.#{$pre}icon-double-chevron-right-book     { @extend .#{$pre}icon-base; background-image: $double_chevron_book; }
.#{$pre}icon-double-chevron-right-bold     { @extend .#{$pre}icon-base; background-image: $double_chevron_bold; }
.#{$pre}icon-double-chevron-right-black    { @extend .#{$pre}icon-base; background-image: $double_chevron_black; }
.#{$pre}icon-double-chevron-right-ultra    { @extend .#{$pre}icon-base; background-image: $double_chevron_ultra; }

.#{$pre}icon-double-chevron-down-thin      { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_thin; }
.#{$pre}icon-double-chevron-down-light     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_light; }
.#{$pre}icon-double-chevron-down,
.#{$pre}icon-double-chevron-down-book      { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_book; }
.#{$pre}icon-double-chevron-down-bold      { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_bold; }
.#{$pre}icon-double-chevron-down-black     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_black; }
.#{$pre}icon-double-chevron-down-ultra     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $double_chevron_ultra; }



/* evo-icon-triangle */


$triangle_thin:     url(../img/icons/thin/triangle-thin.svg);
$triangle_light:    url(../img/icons/light/triangle-light.svg);
$triangle_book:     url(../img/icons/book/triangle-book.svg);
$triangle_bold:     url(../img/icons/bold/triangle-bold.svg);
$triangle_black:    url(../img/icons/black/triangle-black.svg);
$triangle_ultra:    url(../img/icons/ultra/triangle-ultra.svg);


.#{$pre}icon-triangle-left-thin            { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_thin; }
.#{$pre}icon-triangle-left-light           { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_light; }
.#{$pre}icon-triangle-left,
.#{$pre}icon-triangle-left-book            { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_book; }
.#{$pre}icon-triangle-left-bold            { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_bold; }
.#{$pre}icon-triangle-left-black           { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_black; }
.#{$pre}icon-triangle-left-ultra           { @extend .#{$pre}icon-rotate-270; @extend.#{$pre}icon-base; background-image: $triangle_ultra; }

.#{$pre}icon-triangle-up-thin              { @extend .#{$pre}icon-base; background-image: $triangle_thin; }
.#{$pre}icon-triangle-up-light             { @extend .#{$pre}icon-base; background-image: $triangle_light; }
.#{$pre}icon-triangle-up,
.#{$pre}icon-triangle-up-book              { @extend .#{$pre}icon-base; background-image: $triangle_book; }
.#{$pre}icon-triangle-up-bold              { @extend .#{$pre}icon-base; background-image: $triangle_bold; }
.#{$pre}icon-triangle-up-black             { @extend .#{$pre}icon-base; background-image: $triangle_black; }
.#{$pre}icon-triangle-up-ultra             { @extend .#{$pre}icon-base; background-image: $triangle_ultra; }

.#{$pre}icon-triangle-right-thin           { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_thin; }
.#{$pre}icon-triangle-right-light          { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_light; }
.#{$pre}icon-triangle,
.#{$pre}icon-triangle-right,
.#{$pre}icon-triangle-right-book           { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_book; }
.#{$pre}icon-triangle-right-bold           { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_bold; }
.#{$pre}icon-triangle-right-black          { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_black; }
.#{$pre}icon-triangle-right-ultra          { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_ultra; }

.#{$pre}icon-triangle-down-thin            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_thin; }
.#{$pre}icon-triangle-down-light           { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_light; }
.#{$pre}icon-triangle-down,
.#{$pre}icon-triangle-down-book            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_book; }
.#{$pre}icon-triangle-down-bold            { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_bold; }
.#{$pre}icon-triangle-down-black           { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_black; }
.#{$pre}icon-triangle-down-ultra           { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_ultra; }


/* evo-icon-circle */

$circle_thin:       url(../img/icons/thin/circle-thin.svg);
$circle_light:      url(../img/icons/light/circle-light.svg);
$circle_book:       url(../img/icons/book/circle-book.svg);
$circle_bold:       url(../img/icons/bold/circle-bold.svg);
$circle_black:      url(../img/icons/black/circle-black.svg);
$circle_ultra:      url(../img/icons/ultra/circle-ultra.svg);


.#{$pre}icon-circle-thin          { @extend .#{$pre}icon-base; background-image: $circle_thin; }
.#{$pre}icon-circle-light         { @extend .#{$pre}icon-base; background-image: $circle_light; }
.#{$pre}icon-circle,
.#{$pre}icon-circle-book          { @extend .#{$pre}icon-base; background-image: $circle_book; }
.#{$pre}icon-circle-bold          { @extend .#{$pre}icon-base; background-image: $circle_bold; }
.#{$pre}icon-circle-black         { @extend .#{$pre}icon-base; background-image: $circle_black; }
.#{$pre}icon-circle-ultra         { @extend .#{$pre}icon-base; background-image: $circle_ultra; }


/* evo-icon-square */

$square_thin:       url(../img/icons/thin/square-thin.svg);
$square_light:      url(../img/icons/light/square-light.svg);
$square_book:       url(../img/icons/book/square-book.svg);
$square_bold:       url(../img/icons/bold/square-bold.svg);
$square_black:      url(../img/icons/black/square-black.svg);
$square_ultra:      url(../img/icons/ultra/square-ultra.svg);


.#{$pre}icon-square-thin            { @extend .#{$pre}icon-base; background-image: $square_thin; }
.#{$pre}icon-square-light           { @extend .#{$pre}icon-base; background-image: $square_light; }
.#{$pre}icon-square,
.#{$pre}icon-square-book            { @extend .#{$pre}icon-base; background-image: $square_book; }
.#{$pre}icon-square-bold            { @extend .#{$pre}icon-base; background-image: $square_bold; }
.#{$pre}icon-square-black           { @extend .#{$pre}icon-base; background-image: $square_black; }
.#{$pre}icon-square-ultra           { @extend .#{$pre}icon-base; background-image: $square_ultra; }


/* evo-icon-slash */

$slash_thin:        url(../img/icons/thin/slash-thin.svg);
$slash_light:       url(../img/icons/light/slash-light.svg);
$slash_book:        url(../img/icons/book/slash-book.svg);
$slash_bold:        url(../img/icons/bold/slash-bold.svg);
$slash_black:       url(../img/icons/black/slash-black.svg);
$slash_ultra:       url(../img/icons/ultra/slash-ultra.svg);


.#{$pre}icon-slash-thin              { @extend .#{$pre}icon-base; background-image: $slash_thin; }
.#{$pre}icon-slash-light             { @extend .#{$pre}icon-base; background-image: $slash_light; }
.#{$pre}icon-slash,
.#{$pre}icon-slash-book              { @extend .#{$pre}icon-base; background-image: $slash_book; }
.#{$pre}icon-slash-bold              { @extend .#{$pre}icon-base; background-image: $slash_bold; }
.#{$pre}icon-slash-black             { @extend .#{$pre}icon-base; background-image: $slash_black; }
.#{$pre}icon-slash-ultra             { @extend .#{$pre}icon-base; background-image: $slash_ultra; }


/* evo-icon-menu */

$menu_thin:         url(../img/icons/thin/menu-thin.svg);
$menu_light:        url(../img/icons/light/menu-light.svg);
$menu_book:         url(../img/icons/book/menu-book.svg);
$menu_bold:         url(../img/icons/bold/menu-bold.svg);
$menu_black:        url(../img/icons/black/menu-black.svg);
$menu_ultra:        url(../img/icons/ultra/menu-ultra.svg);


.#{$pre}icon-menu-thin                { @extend .#{$pre}icon-base; background-image: $menu_thin; }
.#{$pre}icon-menu-light               { @extend .#{$pre}icon-base; background-image: $menu_light; }
.#{$pre}icon-menu,
.#{$pre}icon-menu-book                { @extend .#{$pre}icon-base; background-image: $menu_book; }
.#{$pre}icon-menu-bold                { @extend .#{$pre}icon-base; background-image: $menu_bold; }
.#{$pre}icon-menu-black               { @extend .#{$pre}icon-base; background-image: $menu_black; }
.#{$pre}icon-menu-ultra               { @extend .#{$pre}icon-base; background-image: $menu_ultra; }


/* evo-icon-close */

$close_thin:        url(../img/icons/thin/close-thin.svg);
$close_light:       url(../img/icons/light/close-light.svg);
$close_book:        url(../img/icons/book/close-book.svg);
$close_bold:        url(../img/icons/bold/close-bold.svg);
$close_black:       url(../img/icons/black/close-black.svg);
$close_ultra:       url(../img/icons/ultra/close-ultra.svg);


.#{$pre}icon-close-thin                { @extend .#{$pre}icon-base; background-image: $close_thin; }
.#{$pre}icon-close-light               { @extend .#{$pre}icon-base; background-image: $close_light; }
.#{$pre}icon-close,
.#{$pre}icon-close-book                { @extend .#{$pre}icon-base; background-image: $close_book; }
.#{$pre}icon-close-bold                { @extend .#{$pre}icon-base; background-image: $close_bold; }
.#{$pre}icon-close-black               { @extend .#{$pre}icon-base; background-image: $close_black; }
.#{$pre}icon-close-ultra               { @extend .#{$pre}icon-base; background-image: $close_ultra; }


/* evo-icon-plus */

$plus_thin:          url(../img/icons/thin/plus-thin.svg);
$plus_light:         url(../img/icons/light/plus-light.svg);
$plus_book:          url(../img/icons/book/plus-book.svg);
$plus_bold:          url(../img/icons/bold/plus-bold.svg);
$plus_black:         url(../img/icons/black/plus-black.svg);
$plus_ultra:         url(../img/icons/ultra/plus-ultra.svg);


.#{$pre}icon-plus-thin                 { @extend .#{$pre}icon-base; background-image: $plus_thin; }
.#{$pre}icon-plus-light                { @extend .#{$pre}icon-base; background-image: $plus_light; }
.#{$pre}icon-plus,
.#{$pre}icon-plus-book                 { @extend .#{$pre}icon-base; background-image: $plus_book; }
.#{$pre}icon-plus-bold                 { @extend .#{$pre}icon-base; background-image: $plus_bold; }
.#{$pre}icon-plus-black                { @extend .#{$pre}icon-base; background-image: $plus_black; }
.#{$pre}icon-plus-ultra                { @extend .#{$pre}icon-base; background-image: $plus_ultra; }



/* evo-icon-minus */

$minus_thin:          url(../img/icons/thin/minus-thin.svg);
$minus_light:         url(../img/icons/light/minus-light.svg);
$minus_book:          url(../img/icons/book/minus-book.svg);
$minus_bold:          url(../img/icons/bold/minus-bold.svg);
$minus_black:         url(../img/icons/black/minus-black.svg);
$minus_ultra:         url(../img/icons/ultra/minus-ultra.svg);


.#{$pre}icon-minus-thin                { @extend .#{$pre}icon-base; background-image: $minus_thin; }
.#{$pre}icon-minus-light               { @extend .#{$pre}icon-base; background-image: $minus_light; }
.#{$pre}icon-minus,
.#{$pre}icon-minus-book                { @extend .#{$pre}icon-base; background-image: $minus_book; }
.#{$pre}icon-minus-bold                { @extend .#{$pre}icon-base; background-image: $minus_bold; }
.#{$pre}icon-minus-black               { @extend .#{$pre}icon-base; background-image: $minus_black; }
.#{$pre}icon-minus-ultra               { @extend .#{$pre}icon-base; background-image: $minus_ultra; }


/* evo-icon-circle-minus */

$circle-minus_thin:          url(../img/icons/thin/circle-minus-thin.svg);
$circle-minus_light:         url(../img/icons/light/circle-minus-light.svg);
$circle-minus_book:          url(../img/icons/book/circle-minus-book.svg);
$circle-minus_bold:          url(../img/icons/bold/circle-minus-bold.svg);
$circle-minus_black:         url(../img/icons/black/circle-minus-black.svg);
$circle-minus_ultra:         url(../img/icons/ultra/circle-minus-ultra.svg);


.#{$pre}icon-circle-minus-thin         { @extend .#{$pre}icon-base; background-image: $circle-minus_thin; }
.#{$pre}icon-circle-minus-light        { @extend .#{$pre}icon-base; background-image: $circle-minus_light; }
.#{$pre}icon-circle-minus,
.#{$pre}icon-circle-minus-book         { @extend .#{$pre}icon-base; background-image: $circle-minus_book; }
.#{$pre}icon-circle-minus-bold         { @extend .#{$pre}icon-base; background-image: $circle-minus_bold; }
.#{$pre}icon-circle-minus-black        { @extend .#{$pre}icon-base; background-image: $circle-minus_black; }
.#{$pre}icon-circle-minus-ultra        { @extend .#{$pre}icon-base; background-image: $circle-minus_ultra; }


/* evo-icon-circle-plus */

$circle-plus_thin:          url(../img/icons/thin/circle-plus-thin.svg);
$circle-plus_light:         url(../img/icons/light/circle-plus-light.svg);
$circle-plus_book:          url(../img/icons/book/circle-plus-book.svg);
$circle-plus_bold:          url(../img/icons/bold/circle-plus-bold.svg);
$circle-plus_black:         url(../img/icons/black/circle-plus-black.svg);
$circle-plus_ultra:         url(../img/icons/ultra/circle-plus-ultra.svg);


.#{$pre}icon-circle-plus-thin           { @extend .#{$pre}icon-base; background-image: $circle-plus_thin; }
.#{$pre}icon-circle-plus-light          { @extend .#{$pre}icon-base; background-image: $circle-plus_light; }
.#{$pre}icon-circle-plus,
.#{$pre}icon-circle-plus-book           { @extend .#{$pre}icon-base; background-image: $circle-plus_book; }
.#{$pre}icon-circle-plus-bold           { @extend .#{$pre}icon-base; background-image: $circle-plus_bold; }
.#{$pre}icon-circle-plus-black          { @extend .#{$pre}icon-base; background-image: $circle-plus_black; }
.#{$pre}icon-circle-plus-ultra          { @extend .#{$pre}icon-base; background-image: $circle-plus_ultra; }


/* evo-icon-share */

$share_thin:          url(../img/icons/thin/share-thin.svg);
$share_light:         url(../img/icons/light/share-light.svg);
$share_book:          url(../img/icons/book/share-book.svg);
$share_bold:          url(../img/icons/bold/share-bold.svg);
$share_black:         url(../img/icons/black/share-black.svg);
$share_ultra:         url(../img/icons/ultra/share-ultra.svg);


.#{$pre}icon-share-thin                { @extend .#{$pre}icon-base; background-image: $share_thin; }
.#{$pre}icon-share-light               { @extend .#{$pre}icon-base; background-image: $share_light; }
.#{$pre}icon-share,
.#{$pre}icon-share-book                { @extend .#{$pre}icon-base; background-image: $share_book; }
.#{$pre}icon-share-bold                { @extend .#{$pre}icon-base; background-image: $share_bold; }
.#{$pre}icon-share-black               { @extend .#{$pre}icon-base; background-image: $share_black; }
.#{$pre}icon-share-ultra               { @extend .#{$pre}icon-base; background-image: $share_ultra; }


/* evo-icon-link */

$link_thin:          url(../img/icons/thin/link-thin.svg);
$link_light:         url(../img/icons/light/link-light.svg);
$link_book:          url(../img/icons/book/link-book.svg);
$link_bold:          url(../img/icons/bold/link-bold.svg);
$link_black:         url(../img/icons/black/link-black.svg);
$link_ultra:         url(../img/icons/ultra/link-ultra.svg);


.#{$pre}icon-link-thin                 { @extend .#{$pre}icon-base; background-image: $link_thin; }
.#{$pre}icon-link-light                { @extend .#{$pre}icon-base; background-image: $link_light; }
.#{$pre}icon-link,
.#{$pre}icon-link-book                 { @extend .#{$pre}icon-base; background-image: $link_book; }
.#{$pre}icon-link-bold                 { @extend .#{$pre}icon-base; background-image: $link_bold; }
.#{$pre}icon-link-black                { @extend .#{$pre}icon-base; background-image: $link_black; }
.#{$pre}icon-link-ultra                { @extend .#{$pre}icon-base; background-image: $link_ultra; }


/* evo-icon-mail */

$mail_thin:          url(../img/icons/thin/mail-thin.svg);
$mail_light:         url(../img/icons/light/mail-light.svg);
$mail_book:          url(../img/icons/book/mail-book.svg);
$mail_bold:          url(../img/icons/bold/mail-bold.svg);
$mail_black:         url(../img/icons/black/mail-black.svg);
$mail_ultra:         url(../img/icons/ultra/mail-ultra.svg);


.#{$pre}icon-mail-thin                 { @extend .#{$pre}icon-base; background-image: $mail_thin; }
.#{$pre}icon-mail-light                { @extend .#{$pre}icon-base; background-image: $mail_light; }
.#{$pre}icon-mail,
.#{$pre}icon-mail-book                 { @extend .#{$pre}icon-base; background-image: $mail_book; }
.#{$pre}icon-mail-bold                 { @extend .#{$pre}icon-base; background-image: $mail_bold; }
.#{$pre}icon-mail-black                { @extend .#{$pre}icon-base; background-image: $mail_black; }
.#{$pre}icon-mail-ultra                { @extend .#{$pre}icon-base; background-image: $mail_ultra; }



/* evo-icon-search */

$search_thin:       url(../img/icons/thin/search-thin.svg);
$search_light:      url(../img/icons/light/search-light.svg);
$search_book:       url(../img/icons/book/search-book.svg);
$search_bold:       url(../img/icons/bold/search-bold.svg);
$search_black:      url(../img/icons/black/search-black.svg);
$search_ultra:      url(../img/icons/ultra/search-ultra.svg);


.#{$pre}icon-search-thin               { @extend .#{$pre}icon-base; background-image: $search_thin; }
.#{$pre}icon-search-light              { @extend .#{$pre}icon-base; background-image: $search_light; }
.#{$pre}icon-search,
.#{$pre}icon-search-book               { @extend .#{$pre}icon-base; background-image: $search_book; }
.#{$pre}icon-search-bold               { @extend .#{$pre}icon-base; background-image: $search_bold; }
.#{$pre}icon-search-black              { @extend .#{$pre}icon-base; background-image: $search_black; }
.#{$pre}icon-search-ultra              { @extend .#{$pre}icon-base; background-image: $search_ultra; }



/* evo-icon-check */

$check_thin:        url(../img/icons/thin/check-thin.svg);
$check_light:       url(../img/icons/light/check-light.svg);
$check_book:        url(../img/icons/book/check-book.svg);
$check_bold:        url(../img/icons/bold/check-bold.svg);
$check_black:       url(../img/icons/black/check-black.svg);
$check_ultra:       url(../img/icons/ultra/check-ultra.svg);


.#{$pre}icon-check-thin                { @extend .#{$pre}icon-base; background-image: $check_thin; }
.#{$pre}icon-check-light               { @extend .#{$pre}icon-base; background-image: $check_light; }
.#{$pre}icon-check,
.#{$pre}icon-check-book                { @extend .#{$pre}icon-base; background-image: $check_book; }
.#{$pre}icon-check-bold                { @extend .#{$pre}icon-base; background-image: $check_bold; }
.#{$pre}icon-check-black               { @extend .#{$pre}icon-base; background-image: $check_black; }
.#{$pre}icon-check-ultra               { @extend .#{$pre}icon-base; background-image: $check_ultra; }



/* evo-icon-circle-slash */

$circle_slash_thin:     url(../img/icons/thin/circle-slash-thin.svg);
$circle_slash_light:    url(../img/icons/light/circle-slash-light.svg);
$circle_slash_book:     url(../img/icons/book/circle-slash-book.svg);
$circle_slash_bold:     url(../img/icons/bold/circle-slash-bold.svg);
$circle_slash_black:    url(../img/icons/black/circle-slash-black.svg);
$circle_slash_ultra:    url(../img/icons/ultra/circle-slash-ultra.svg);


.#{$pre}icon-circle-slash-thin         { @extend .#{$pre}icon-base; background-image: $circle_slash_thin; }
.#{$pre}icon-circle-slash-light        { @extend .#{$pre}icon-base; background-image: $circle_slash_light; }
.#{$pre}icon-circle-slash,
.#{$pre}icon-circle-slash-book         { @extend .#{$pre}icon-base; background-image: $circle_slash_book; }
.#{$pre}icon-circle-slash-bold         { @extend .#{$pre}icon-base; background-image: $circle_slash_bold; }
.#{$pre}icon-circle-slash-black        { @extend .#{$pre}icon-base; background-image: $circle_slash_black; }
.#{$pre}icon-circle-slash-ultra        { @extend .#{$pre}icon-base; background-image: $circle_slash_ultra; }


/* evo-icon-eye */

$eye_thin:          url(../img/icons/thin/eye-thin.svg);
$eye_light:         url(../img/icons/light/eye-light.svg);
$eye_book:          url(../img/icons/book/eye-book.svg);
$eye_bold:          url(../img/icons/bold/eye-bold.svg);
$eye_black:         url(../img/icons/black/eye-black.svg);
$eye_ultra:         url(../img/icons/ultra/eye-ultra.svg);


.#{$pre}icon-eye-thin                  { @extend .#{$pre}icon-base; background-image: $eye_thin; }
.#{$pre}icon-eye-light                 { @extend .#{$pre}icon-base; background-image: $eye_light; }
.#{$pre}icon-eye,
.#{$pre}icon-eye-book                  { @extend .#{$pre}icon-base; background-image: $eye_book; }
.#{$pre}icon-eye-bold                  { @extend .#{$pre}icon-base; background-image: $eye_bold; }
.#{$pre}icon-eye-black                 { @extend .#{$pre}icon-base; background-image: $eye_black; }
.#{$pre}icon-eye-ultra                 { @extend .#{$pre}icon-base; background-image: $eye_ultra; }


/* evo-icon-eye-slash */

$eye_slash_thin:    url(../img/icons/thin/eye-slash-thin.svg);
$eye_slash_light:   url(../img/icons/light/eye-slash-light.svg);
$eye_slash_book:    url(../img/icons/book/eye-slash-book.svg);
$eye_slash_bold:    url(../img/icons/bold/eye-slash-bold.svg);
$eye_slash_black:   url(../img/icons/black/eye-slash-black.svg);
$eye_slash_ultra:   url(../img/icons/ultra/eye-slash-ultra.svg);


.#{$pre}icon-eye-slash-thin           { @extend .#{$pre}icon-base; background-image: $eye_slash_thin; }
.#{$pre}icon-eye-slash-light          { @extend .#{$pre}icon-base; background-image: $eye_slash_light; }
.#{$pre}icon-eye-slash,
.#{$pre}icon-eye-slash-book           { @extend .#{$pre}icon-base; background-image: $eye_slash_book; }
.#{$pre}icon-eye-slash-bold           { @extend .#{$pre}icon-base; background-image: $eye_slash_bold; }
.#{$pre}icon-eye-slash-black          { @extend .#{$pre}icon-base; background-image: $eye_slash_black; }
.#{$pre}icon-eye-slash-ultra          { @extend .#{$pre}icon-base; background-image: $eye_slash_ultra; }


/* evo-icon-graph */

$graph_thin:        url(../img/icons/thin/graph-thin.svg);
$graph_light:       url(../img/icons/light/graph-light.svg);
$graph_book:        url(../img/icons/book/graph-book.svg);
$graph_bold:        url(../img/icons/bold/graph-bold.svg);
$graph_black:       url(../img/icons/black/graph-black.svg);
$graph_ultra:       url(../img/icons/ultra/graph-ultra.svg);


.#{$pre}icon-graph-thin                { @extend .#{$pre}icon-base; background-image: $graph_thin; }
.#{$pre}icon-graph-light               { @extend .#{$pre}icon-base; background-image: $graph_light; }
.#{$pre}icon-graph,
.#{$pre}icon-graph-book                { @extend .#{$pre}icon-base; background-image: $graph_book; }
.#{$pre}icon-graph-bold                { @extend .#{$pre}icon-base; background-image: $graph_bold; }
.#{$pre}icon-graph-black               { @extend .#{$pre}icon-base; background-image: $graph_black; }
.#{$pre}icon-graph-ultra               { @extend .#{$pre}icon-base; background-image: $graph_ultra; }


/* evo-icon-papers */

$papers_thin:       url(../img/icons/thin/papers-thin.svg);
$papers_light:      url(../img/icons/light/papers-light.svg);
$papers_book:       url(../img/icons/book/papers-book.svg);
$papers_bold:       url(../img/icons/bold/papers-bold.svg);
$papers_black:      url(../img/icons/black/papers-black.svg);
$papers_ultra:      url(../img/icons/ultra/papers-ultra.svg);


.#{$pre}icon-papers-thin               { @extend .#{$pre}icon-base; background-image: $papers_thin; }
.#{$pre}icon-papers-light              { @extend .#{$pre}icon-base; background-image: $papers_light; }
.#{$pre}icon-papers,
.#{$pre}icon-papers-book               { @extend .#{$pre}icon-base; background-image: $papers_book; }
.#{$pre}icon-papers-bold               { @extend .#{$pre}icon-base; background-image: $papers_bold; }
.#{$pre}icon-papers-black              { @extend .#{$pre}icon-base; background-image: $papers_black; }
.#{$pre}icon-papers-ultra              { @extend .#{$pre}icon-base; background-image: $papers_ultra; }


/* evo-icon-pencil */

$pencil_thin:       url(../img/icons/thin/pencil-thin.svg);
$pencil_light:      url(../img/icons/light/pencil-light.svg);
$pencil_book:       url(../img/icons/book/pencil-book.svg);
$pencil_bold:       url(../img/icons/bold/pencil-bold.svg);
$pencil_black:      url(../img/icons/black/pencil-black.svg);
$pencil_ultra:      url(../img/icons/ultra/pencil-ultra.svg);


.#{$pre}icon-pencil-thin               { @extend .#{$pre}icon-base; background-image: $pencil_thin; }
.#{$pre}icon-pencil-light              { @extend .#{$pre}icon-base; background-image: $pencil_light; }
.#{$pre}icon-pencil,
.#{$pre}icon-pencil-book               { @extend .#{$pre}icon-base; background-image: $pencil_book; }
.#{$pre}icon-pencil-bold               { @extend .#{$pre}icon-base; background-image: $pencil_bold; }
.#{$pre}icon-pencil-black              { @extend .#{$pre}icon-base; background-image: $pencil_black; }
.#{$pre}icon-pencil-ultra              { @extend .#{$pre}icon-base; background-image: $pencil_ultra; }



/* evo-icon-trashcan */

$trashcan_thin:     url(../img/icons/thin/trashcan-thin.svg);
$trashcan_light:    url(../img/icons/light/trashcan-light.svg);
$trashcan_book:     url(../img/icons/book/trashcan-book.svg);
$trashcan_bold:     url(../img/icons/bold/trashcan-bold.svg);
$trashcan_black:    url(../img/icons/black/trashcan-black.svg);
$trashcan_ultra:    url(../img/icons/ultra/trashcan-ultra.svg);


.#{$pre}icon-trashcan-thin             { @extend .#{$pre}icon-base; background-image: $trashcan_thin; }
.#{$pre}icon-trashcan-light            { @extend .#{$pre}icon-base; background-image: $trashcan_light; }
.#{$pre}icon-trashcan,
.#{$pre}icon-trashcan-book             { @extend .#{$pre}icon-base; background-image: $trashcan_book; }
.#{$pre}icon-trashcan-bold             { @extend .#{$pre}icon-base; background-image: $trashcan_bold; }
.#{$pre}icon-trashcan-black            { @extend .#{$pre}icon-base; background-image: $trashcan_black; }
.#{$pre}icon-trashcan-ultra            { @extend .#{$pre}icon-base; background-image: $trashcan_ultra; }

