


/* --- Icon Sizes --- */


.#{$pre}icon-0         { width: $text_font_size+$text_font_size_increment*0rem; height: $text_font_size+$text_font_size_increment*0rem; } // Do we need to start with a zero?
.#{$pre}icon-1         { width: $text_font_size+$text_font_size_increment*1rem; height: $text_font_size+$text_font_size_increment*1rem; }
.#{$pre}icon-2         { width: $text_font_size+$text_font_size_increment*2rem; height: $text_font_size+$text_font_size_increment*2rem; }
.#{$pre}icon-3         { width: $text_font_size+$text_font_size_increment*3rem; height: $text_font_size+$text_font_size_increment*3rem; }
.#{$pre}icon-4         { width: $text_font_size+$text_font_size_increment*4rem; height: $text_font_size+$text_font_size_increment*4rem; }
.#{$pre}icon-5         { width: $text_font_size+$text_font_size_increment*5rem; height: $text_font_size+$text_font_size_increment*5rem; }
.#{$pre}icon-6         { width: $text_font_size+$text_font_size_increment*6rem; height: $text_font_size+$text_font_size_increment*6rem; }
.#{$pre}icon-7         { width: $text_font_size+$text_font_size_increment*7rem; height: $text_font_size+$text_font_size_increment*7rem; }
.#{$pre}icon-8         { width: $text_font_size+$text_font_size_increment*8rem; height: $text_font_size+$text_font_size_increment*8rem; }
.#{$pre}icon-9         { width: $text_font_size+$text_font_size_increment*9rem; height: $text_font_size+$text_font_size_increment*9rem; }
.#{$pre}icon-10        { width: $text_font_size+$text_font_size_increment*10rem; height: $text_font_size+$text_font_size_increment*10rem; }
.#{$pre}icon-11        { width: $text_font_size+$text_font_size_increment*11rem; height: $text_font_size+$text_font_size_increment*11rem; }
.#{$pre}icon-12        { width: $text_font_size+$text_font_size_increment*12rem; height: $text_font_size+$text_font_size_increment*12rem; }
.#{$pre}icon-13        { width: $text_font_size+$text_font_size_increment*13rem; height: $text_font_size+$text_font_size_increment*13rem; }
.#{$pre}icon-14        { width: $text_font_size+$text_font_size_increment*14rem; height: $text_font_size+$text_font_size_increment*14rem; }
.#{$pre}icon-15        { width: $text_font_size+$text_font_size_increment*15rem; height: $text_font_size+$text_font_size_increment*15rem; }
.#{$pre}icon-16        { width: $text_font_size+$text_font_size_increment*16rem; height: $text_font_size+$text_font_size_increment*16rem; }
.#{$pre}icon-17        { width: $text_font_size+$text_font_size_increment*17rem; height: $text_font_size+$text_font_size_increment*17rem; }
.#{$pre}icon-18        { width: $text_font_size+$text_font_size_increment*18rem; height: $text_font_size+$text_font_size_increment*18rem; }
.#{$pre}icon-19        { width: $text_font_size+$text_font_size_increment*19rem; height: $text_font_size+$text_font_size_increment*19rem; }
.#{$pre}icon-20        { width: $text_font_size+$text_font_size_increment*20rem; height: $text_font_size+$text_font_size_increment*20rem; }
.#{$pre}icon-21        { width: $text_font_size+$text_font_size_increment*21rem; height: $text_font_size+$text_font_size_increment*21rem; }
.#{$pre}icon-22        { width: $text_font_size+$text_font_size_increment*22rem; height: $text_font_size+$text_font_size_increment*22rem; }
.#{$pre}icon-23        { width: $text_font_size+$text_font_size_increment*23rem; height: $text_font_size+$text_font_size_increment*23rem; }
.#{$pre}icon-24        { width: $text_font_size+$text_font_size_increment*24rem; height: $text_font_size+$text_font_size_increment*24rem; }
.#{$pre}icon-25        { width: $text_font_size+$text_font_size_increment*25rem; height: $text_font_size+$text_font_size_increment*25rem; }
.#{$pre}icon-26        { width: $text_font_size+$text_font_size_increment*26rem; height: $text_font_size+$text_font_size_increment*26rem; }
.#{$pre}icon-27        { width: $text_font_size+$text_font_size_increment*27rem; height: $text_font_size+$text_font_size_increment*27rem; }
.#{$pre}icon-28        { width: $text_font_size+$text_font_size_increment*28rem; height: $text_font_size+$text_font_size_increment*28rem; }
.#{$pre}icon-29        { width: $text_font_size+$text_font_size_increment*29rem; height: $text_font_size+$text_font_size_increment*29rem; }
.#{$pre}icon-30        { width: $text_font_size+$text_font_size_increment*30rem; height: $text_font_size+$text_font_size_increment*30rem; }


// Extended sizes to test how useful they are

.#{$pre}icon-31        { width: $text_font_size+$text_font_size_increment*31rem; height: $text_font_size+$text_font_size_increment*31rem; }
.#{$pre}icon-32        { width: $text_font_size+$text_font_size_increment*32rem; height: $text_font_size+$text_font_size_increment*32rem; }
.#{$pre}icon-33        { width: $text_font_size+$text_font_size_increment*33rem; height: $text_font_size+$text_font_size_increment*33rem; }
.#{$pre}icon-34        { width: $text_font_size+$text_font_size_increment*34rem; height: $text_font_size+$text_font_size_increment*34rem; }
.#{$pre}icon-35        { width: $text_font_size+$text_font_size_increment*35rem; height: $text_font_size+$text_font_size_increment*35rem; }
.#{$pre}icon-36        { width: $text_font_size+$text_font_size_increment*36rem; height: $text_font_size+$text_font_size_increment*36rem; }
.#{$pre}icon-37        { width: $text_font_size+$text_font_size_increment*37rem; height: $text_font_size+$text_font_size_increment*37rem; }
.#{$pre}icon-38        { width: $text_font_size+$text_font_size_increment*38rem; height: $text_font_size+$text_font_size_increment*38rem; }
.#{$pre}icon-39        { width: $text_font_size+$text_font_size_increment*39rem; height: $text_font_size+$text_font_size_increment*39rem; }
.#{$pre}icon-40        { width: $text_font_size+$text_font_size_increment*40rem; height: $text_font_size+$text_font_size_increment*40rem; }
.#{$pre}icon-41        { width: $text_font_size+$text_font_size_increment*41rem; height: $text_font_size+$text_font_size_increment*41rem; }
.#{$pre}icon-42        { width: $text_font_size+$text_font_size_increment*42rem; height: $text_font_size+$text_font_size_increment*42rem; }
.#{$pre}icon-43        { width: $text_font_size+$text_font_size_increment*43rem; height: $text_font_size+$text_font_size_increment*43rem; }
.#{$pre}icon-44        { width: $text_font_size+$text_font_size_increment*44rem; height: $text_font_size+$text_font_size_increment*44rem; }
.#{$pre}icon-45        { width: $text_font_size+$text_font_size_increment*45rem; height: $text_font_size+$text_font_size_increment*45rem; }
.#{$pre}icon-46        { width: $text_font_size+$text_font_size_increment*46rem; height: $text_font_size+$text_font_size_increment*46rem; }
.#{$pre}icon-47        { width: $text_font_size+$text_font_size_increment*47rem; height: $text_font_size+$text_font_size_increment*47rem; }
.#{$pre}icon-48        { width: $text_font_size+$text_font_size_increment*48rem; height: $text_font_size+$text_font_size_increment*48rem; }
.#{$pre}icon-49        { width: $text_font_size+$text_font_size_increment*49rem; height: $text_font_size+$text_font_size_increment*49rem; }
.#{$pre}icon-50        { width: $text_font_size+$text_font_size_increment*50rem; height: $text_font_size+$text_font_size_increment*50rem; }
.#{$pre}icon-51        { width: $text_font_size+$text_font_size_increment*51rem; height: $text_font_size+$text_font_size_increment*51rem; }
.#{$pre}icon-52        { width: $text_font_size+$text_font_size_increment*52rem; height: $text_font_size+$text_font_size_increment*52rem; }
.#{$pre}icon-53        { width: $text_font_size+$text_font_size_increment*53rem; height: $text_font_size+$text_font_size_increment*53rem; }
.#{$pre}icon-54        { width: $text_font_size+$text_font_size_increment*54rem; height: $text_font_size+$text_font_size_increment*54rem; }
.#{$pre}icon-55        { width: $text_font_size+$text_font_size_increment*55rem; height: $text_font_size+$text_font_size_increment*55rem; }
.#{$pre}icon-56        { width: $text_font_size+$text_font_size_increment*56rem; height: $text_font_size+$text_font_size_increment*56rem; }
.#{$pre}icon-57        { width: $text_font_size+$text_font_size_increment*57rem; height: $text_font_size+$text_font_size_increment*57rem; }
.#{$pre}icon-58        { width: $text_font_size+$text_font_size_increment*58rem; height: $text_font_size+$text_font_size_increment*58rem; }
.#{$pre}icon-59        { width: $text_font_size+$text_font_size_increment*59rem; height: $text_font_size+$text_font_size_increment*59rem; }
.#{$pre}icon-60        { width: $text_font_size+$text_font_size_increment*60rem; height: $text_font_size+$text_font_size_increment*60rem; }
