


/* --- Solid Icons --- */


/* evo-icon-triangle-solid */


$triangle_solid:      url(../img/icons/solid/triangle-solid.svg);

.#{$pre}icon-triangle-solid-left      { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $triangle_solid; }
.#{$pre}icon-triangle-solid-up        { @extend .#{$pre}icon-base; background-image: $triangle_solid; }
.#{$pre}icon-triangle-solid,
.#{$pre}icon-triangle-solid-right     { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $triangle_solid; }
.#{$pre}icon-triangle-solid-down      { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $triangle_solid; }



/* evo-icon-circle-solid */


$circle_solid:     url(../img/icons/solid/circle-solid.svg);

.#{$pre}icon-circle-solid     { @extend .#{$pre}icon-base; background-image: $circle_solid; }




/* evo-icon-square-solid */


$square_solid:     url(../img/icons/solid/square-solid.svg);

.#{$pre}icon-square-solid      { @extend .#{$pre}icon-base; background-image: $square_solid; }




/* evo-icon-circle-chevron-solid */


$circle_chevron_solid:     url(../img/icons/solid/circle-chevron-solid.svg);

.#{$pre}icon-circle-chevron-solid-left      { @extend .#{$pre}icon-rotate-180; @extend .#{$pre}icon-base; background-image: $circle_chevron_solid; }
.#{$pre}icon-circle-chevron-solid-up        { @extend .#{$pre}icon-rotate-270; @extend .#{$pre}icon-base; background-image: $circle_chevron_solid; }
.#{$pre}icon-circle-chevron-solid,
.#{$pre}icon-circle-chevron-solid-right     { @extend .#{$pre}icon-base; background-image: $circle_chevron_solid; }
.#{$pre}icon-circle-chevron-solid-down      { @extend .#{$pre}icon-rotate-90; @extend .#{$pre}icon-base; background-image: $circle_chevron_solid; }




/* evo-icon-circle-plus-solid */


$circle_plus_solid:     url(../img/icons/solid/circle-plus-solid.svg);

.#{$pre}icon-circle-plus-solid     { @extend .#{$pre}icon-base; background-image: $circle_plus_solid; }




/* evo-icon-circle-minus-solid */


$circle_minus_solid:     url(../img/icons/solid/circle-minus-solid.svg);

.#{$pre}icon-circle-minus-solid     { @extend .#{$pre}icon-base; background-image: $circle_minus_solid; }




/* evo-icon-circle-menu-solid */


$circle_menu_solid:     url(../img/icons/solid/circle-menu-solid.svg);

.#{$pre}icon-circle-menu-solid     { @extend .#{$pre}icon-base; background-image: $circle_menu_solid; }




